* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: white;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav .logo {
    mix-blend-mode: multiply;
    width: 180px;
    height: 130px;
    margin-top: 30px;
}

header h1 {
    text-align: center;
    color: rgb(59, 32, 209);
    font-family: "Michroma", sans-serif;
    font-size: 5vw;
    position: relative;
}

header nav ul {
    text-decoration: none;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Michroma", sans-serif;
    font-size: large;
    flex-wrap: wrap;
}

header nav ul li {
    border: 10px solid white;
    padding: 25px;
    justify-content: center;
}

h2 {
    margin-top: 30px;
    text-align: center;
    color: rgb(60, 28, 204);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Michroma", sans-serif;
}

.text-uppercase {
    margin-top: 30px;
    text-align: left;
    color: rgb(60, 28, 204);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Michroma", sans-serif;
}

main div {
    width: 100%;
    height: 100%;
}

/* Grilla descripción empresa */
.grid-intro {
    width: 100%;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 0fr;
    grid-template-rows: 80px 150px;
    gap: 40px;
}

.grid-imagen {
    width: 320px;
    height: 250px;
}

.grid-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Grilla descripción profe */
.grid-profe {
    width: 100%;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 0fr;
    grid-template-rows: 80px 280px;
    gap: 40px;
}

.grid-profesora {
    width: 300px;
    height: 380px;
}

.grid-profesora img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section p {
    color: rgb(0, 0, 0);
    font-size: 105%;
    text-align: justify;
}

.imagen-1 {
    width: 180px;
    height: 130px;
    mix-blend-mode: multiply;
}

/* Botón para registro */
.boton {
    width: 80%;
    padding: 10px 30px;
    margin-top: 0px;
    background-color: rgb(60, 28, 204);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Michroma", sans-serif;
    font-size: large;
    margin-left: 90px;
}

.boton1 {
    width: 80%;
    padding: 10px 30px;
    margin-top: 0px;
    background-color: rgb(60, 28, 204);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Michroma", sans-serif;
    font-size: large;
    margin-left: 90px;
}

.boton:hover {
    background-color: black;
    color: white;
}

.boton1:hover {
    background-color: black;
    color: white;
}

/* Botón volver al inicio */
.boton-inicio {
    width: 20%;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Michroma", sans-serif;
    font-size: medium;
}

.boton-inicio:hover {
    background-color: rgb(170, 170, 170);
    color: black;
}

.boton-enlace {
    width: auto;
    height: auto;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Michroma", sans-serif;
    font-size: medium;
}

.boton-enlace:hover {
    background-color: rgb(212, 69, 69);
    color: black;
}

/* FOOTER */

footer section .logo1 {
    margin-top: 50px;
    mix-blend-mode: multiply;
    width: 150px;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;
}

div footer section div {
    margin-left: 30px;
}

/* Iconos redes sociales */
.redes-sociales {
    margin-top: 30px;
    width: 50px;
    height: 50px;
    border: 4px solid white;
    margin-left: 20px;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    border: 1px solid white;
}

.card-text {
    text-align: justify;
}

#Ubicacion {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.ubicacion {
    margin-top: 30px;
    text-align: center;
    font-family: "Michroma", sans-serif;
    font-size: 1vw;
}

table.cal {
    display: inline-block;
    min-height: 100px;
    width: 97%;
    color: #06425c;
    border-spacing: 0;
    border: 1px solid grey;
    border-radius: 20px 20px 20px 20px;
    padding: 2%;
    margin: 2%;
}

table>caption {
    border: 5px solid rgb(128, 128, 128);

    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(60, 28, 204);
    color: #ffffff;
    font-family: "Michroma", sans-serif;
    font-size: 50px;
    padding: 1% 1% 1% 1%;
    margin: 2% 2% 2% 2%;
}

thead>tr>th {
    background-color: rgb(60, 28, 204);
    color: #ffffff;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    vertical-align: center;
    font-family: "Michroma", sans-serif;
    font-size: 25px;
    margin: 1%;
    padding: 1%;
}

table.cal>tbody>th,
td {
    display: in-line;
    width: 10%;
    margin: 2%;
    padding: 2%;
    height: 60px;
    border: 2px outset white;
    vertical-align: top;
    text-align: center;
    border-radius: 10px;
}

.horas {
    margin: 0;
    padding: 0;
    background-color: orange;
    color: #ffffff;
}

.horas1 {
    width: 65%;
    margin-left: 30px;
    background-color: orange;
    font-family: "Michroma", sans-serif;
}

.descanso {
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.patinar {
    padding: 0;
    margin: 0;
    background-color: orange;
    color: #ffffff;
}

/* RESPONSIVE */

@media screen and (max-width:680px) {
    .grid-intro {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:680px) {
    .grid-profe {
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width:680px) {
    .boton {
        width: 65%;
        height: auto;
        padding: 10px 30px;
        margin-top: 20px;
        background-color: rgb(60, 28, 204);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Michroma", sans-serif;
        font-size: large;
    }
}

@media screen and (max-width:680px) {
    .boton1 {
        width: 65%;
        height: auto;
        padding: 10px 30px;
        margin-top: 150px;
        background-color: rgb(60, 28, 204);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Michroma", sans-serif;
        font-size: large;
    }
}

@media screen and (max-width:680px) {
    .boton-inicio {
        width: 65%;
        height: auto;
        padding: 10px 30px;
        margin-top: 20px;
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Michroma", sans-serif;
        font-size: medium;
    }


    @media screen and (max-width:680px) {
        header nav {
            text-decoration: none;
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: "Michroma", sans-serif;
            font-size: large;
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width:600px) {
        header h1 {
            text-align: center;
            color: rgb(59, 32, 209);
            font-family: "Michroma", sans-serif;
            font-size: 5.5vw;
            position: relative;
        }
    }

    @media screen and (max-width:490px) {
        header h1 {
            text-align: center;
            color: rgb(59, 32, 209);
            font-family: "Michroma", sans-serif;
            font-size: 6vw;
            position: relative;
        }
    }