@media screen and (max-width:680px) {
    body {
        background-color: white;
        overflow-x: hidden;
        padding: 2%;
    }
}

@media screen and (max-width:490px) {
    body {
        background-color: white;
        overflow-x: hidden;
        padding: 2%;
    }
}

@media screen and (max-width:680px) {
    .boton1 {
        width: 65%;
        height: auto;
        padding: 10px 30px;
        margin-top: 150px;
        background-color: rgb(60, 28, 204);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Michroma", sans-serif;
        font-size: large;
    }
}

@media screen and (max-width:600px) {
    header h1 {
        text-align: center;
        color: rgb(59, 32, 209);
        font-family: "Michroma", sans-serif;
        font-size: 5.5vw;
        position: relative;
    }
}

@media screen and (max-width:490px) {
    header h1 {
        text-align: center;
        color: rgb(59, 32, 209);
        font-family: "Michroma", sans-serif;
        font-size: 6vw;
        position: relative;
    }
}

@media screen and (max-width:600px) {
    header h2 {
        text-align: center;
        color: rgb(59, 32, 209);
        font-family: "Michroma", sans-serif;
        font-size: 4.5vw;
        position: relative;
    }
}

@media screen and (max-width:490px) {
    header h2 {
        text-align: center;
        color: rgb(59, 32, 209);
        font-family: "Michroma", sans-serif;
        font-size: 5vw;
        position: relative;
    }
}

@media screen and (max-width:600px) {
    header h3 {
        text-align: center;
        color: rgb(59, 32, 209);
        font-family: "Michroma", sans-serif;
        font-size: 4.5vw;
        position: relative;
    }
}

@media screen and (max-width:490px) {
    header h3 {
        text-align: center;
        color: rgb(59, 32, 209);
        font-family: "Michroma", sans-serif;
        font-size: 5vw;
        position: relative;
    }
}

@media screen and (max-width:1200px) {
    #Ubicacion {
        width: 700px;
        height: 600px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width:950px) {
    #Ubicacion {
        width: 550px;
        height: 450px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width:750px) {
    #Ubicacion {
        width: 400px;
        height: 300px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width:560px) {
    #Ubicacion {
        width: 300px;
        height: 200px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width:440px) {
    #Ubicacion {
        width: 250px;
        height: 150px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}